{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}

<script>
  function confirmDelete(id) {
    Swal.fire({
      text: "¿Está seguro de eliminar este cliente?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
      customClass: {
        popup: 'custom-swal-popup',
        title: 'custom-swal-title',
        icon: 'custom-swal-icon',
        htmlContainer: 'custom-swal-html'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "eliminarCliente/" + id;
      }
    });
  }
</script>

<br>
<h1 class="text-center">Listado de Clientes</h1>
<hr>

<div class="row mb-3 justify-content-end">
  <div class="col-auto">
    <a href="nuevoCliente" class="btn btn-outline-success">
      Agregar Cliente
    </a>
  </div>
</div>


<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula/RUC</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Email</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.cedula_o_ruc }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.tipo_cliente|capfirst }}</td>
      <td>
        <a href="{% url 'editarCliente' cliente.id %}" class="btn btn-sm btn-outline-warning">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" onclick="confirmDelete('{{ cliente.id }}')" class="btn btn-sm btn-outline-danger">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center text-muted">No hay clientes registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
